{% extends 'base.html' %}


{% block title %}Home Page{% endblock %}


{% block header %}
{% endblock %}

{% block main %}
<div class="container d-flex flex-column justify-content-center align-items-start vh-100">
    <div class="text-start">
        <h1 class="display-3 mb-5">Enhnacement of Tabu Search Algorithm for Optimized Rescue Operation</h1>
    </div>
    <div>
        <a class="btn btn-primary btn-lg px-5 rounded-5" href="{{ url_for('data_gathering') }}">Start</a>
    </div>
<div>
{% endblock %}

